#Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Objectives:
List popular languages for Data Science
Some of the popular languages that Data Scientists use are
Some of the commonly used libraries used by Data Scientists include
Data Science Tools

Some of the popular languages that Data Scientists use are:

1. R
2. Python
3. Julia
4. Ruby
5. C++
6.

#Some of the commonly used libraries used by Data Scientists include:
1. Tensorflow
2. Matplotlib
3. Numpy
4. Scipy
5. Panda
6. Keras

#Data Science Tools
Anaconda
RStudio
Jupyter Lab
Watson

###Below are a few examples of evaluating arithmetic expressions in Python.

In [5]:
a=4
b=3
Y=a+b

c=10
d=20
x=c+d

z=a*b+c-d

#type(y)
type(x)
type(z)

int

In [6]:
(3*4)+5

17

In [8]:
5*5

25

This a simple arithmetic expression to mutiply then add integers

In [ ]:
15*

9.0

In [9]:
9/3

3.0

In [7]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

##Author:
Gunter Nembach